target
.idea
out
gh-pages
DeveloperJMMCookbook.iml
DeveloperJMMCookbook.html
.classpath
.project
.settings
release.properties
pom.xml.releaseBackup
/bin
alltests
format_example
*.a
.sconsign.dblite
*.o
